*,*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"Monserrat", Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;

}
body,html{
    height: 100%;
    width: 100%;
}
:root{
    --color-primario: #0f787f;
    --color-secundario:#ffcc00;
    --color-blanco:white;
    --color-gris:#b3b3b3;
    --color-negro:black;

}
/*header*/

/*nav*/

/*main*/

/*¨Formulareio para empresas*/
.formulario-inscripcion {
    max-width: 75em;
    margin: 0 auto;
    padding: 1em;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-inscripcion h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
  
}
.formulario-inscripcion h1{
    color: var(--color-primario);
}

.grupo-campos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 1em;
}

.grupo-campos input {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #FFcc00; 
    border-radius: 30px;
    outline: none;
    transition: border-color 0.3s ease;
}

.grupo-campos input:focus {
    border-color:var(--color-primario); 
}

.boton-agregar {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
    color:var(--color-negro);
    margin-bottom: 1.5em;
}

.boton-agregar span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 1.5em;
}

.precio {
    font-size: 1.5em;
    background-color: black;
    color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    margin-right: 1em;
}

.boton-inscribirse {
    background-color:var(--color-primario);
    color:var(--color-secundario);
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-inscribirse:hover {
    background-color:var(--color-primario);
}


/*Ceci-giftcard
*/
.contenedor_principal_giftcard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    padding: 1.5em;
}

.contenedor-giftcard{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding: 20px;
   
}
.giftcard{

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:space-evenly; 
   padding: 1.25em;
   background-image: url('../images/hexagonos.jpg');
   background-size: cover;
   background-position: center;
   text-align: center;
   width: 100%;

   height: 100%;
   max-height: 35em;
   border-radius: 2em;
   border: 2px solid #000;
   position: relative;
}

.a-logo{
    color: var(--color-primario);
    font-size: 30px;
    -webkit-text-stroke: -2px white;
}
.prender-logo{
    color: var(--color-blanco);
    font-size: 30px;
    -webkit-text-stroke: -2px white;
}

.giftcard img{
    width: 6em;
    height: 2em;
}

.monto {
    background-color:var(--color-primario);
    color: var(--color-blanco);
    padding: 0.6em;
    border-radius: 3em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 1.5em; 
    width: 4em; 

    /*arriba-derecha*/
   top: 1em;
   right: 1em;

    /*abajo-izquierda
    bottom: 1em;
    left: 1em;
   */
    /*arriba-izquierda
     top: 1em;
    left: 1em;
   */
}


.grupo-opciones input{
    width: 4em;
}
.codigo_QR img {
    width: 10em;
    height: 10em;
    margin: 1em auto 0;
    display: block;
 
}
.giftcard p{
    color: var(--color-secundario);
 /*
   color:red;
   color: green;
   color:blue;
   color: white;
   color: var(--color-negro);
   font-size: 20px;
   font-size: 32px;
   font-size: 48px;
   font-size: 60px;
    */
    font-size: 28px;
}
.personalizacion_contenedor {
    background-color: #e3f2fd;
    border-radius: 0.6em;
    padding: 1.2em;
    margin-top: 1em;
    width: 90%;
}

.personalizacion_contenedor h3 {
    margin-bottom: 1.2em;
    color: var(--color-primario);
}

form {
    display: flex;
    flex-direction: column;
}




.personalizacion_contenedor input {
    padding: 0.6em;
    margin-bottom: 1em;
    border: 1px solid var(--color-secundario);
    border-radius: 2em;
    width: 80%;
}

.botones_azules {
    padding: 0.6em 1.6em;
    background-color: var(--color-primario);
    color: var(--color-blanco);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 70%;
}

button:hover {
    background-color:var(--color-secundario);
}
.giftcard h2 {
    margin-top: 40px;
    font-size: 24px;
    color:var(--color-blanco);
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 0.2em 0.5em; 
    border-radius: 0.5em;
}

 .personalizacion_contenedor p {
    font-size: 18px;
    color: var(--color-primario);
    margin: 10px 0;
}
.circulo {
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: 0.1em solid black; 
    display: inline-block;
    cursor: pointer;
    margin-left: 0.5em;
}

.grupo-items input{
    width: 1.5em;
    height: 1.5em;
    }

    .grupo-opciones {
        display: flex;
        gap: 1em; 
        margin-bottom: 1em;
    }
    
    .grupo-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: small;
        width: auto; 
        text-align: center;
    }
    .grupo-items img{
        width: 2em;
        height: 3em;
        margin-bottom: 0.5em;
    }
    .rectangulo-posiciones{
        width: 3em;
        height: 2em;
        border: 1px var(--color-negro)solid;
        position: relative;
        
    }
    .posicion_arriba-izquierda{
        width: 1em;
        height: 0.3em;
        border: 1px var(--color-negro)solid;
        background-color: var(--color-negro);
        position: absolute;
        top: 0.2em;
        left: 0.2em;
    }
    .posicion_arriba-derecha{
        width: 1em;
        height: 0.3em;
        border: 1px var(--color-negro)solid;
        background-color: var(--color-negro);
        position: absolute;
        top: 0.2em;
        right: 0.2em;
    }
    .posicion_abajo-izquierda{
        width: 1em;
        height: 0.3em;
        border: 1px var(--color-negro)solid;
        background-color: var(--color-negro);
        position: absolute;
       bottom: 0.2em;
        left: 0.2em;
    }


.rojo{
    background-color: red;
    }
    .azul{
    background-color: blue;
    }
    .verde{
    background-color:green;
    }
    .amarillo{
    background-color: yellow;
    }
    .blanco{
    background-color: white;
    }
    .negro{
    background-color: black;
    }


    .grupo-colores input[type="radio"] {
        display: none; 
        
    }
    input[type="radio"]:checked + .circulo {
        border: 0.2em solid #00b29e ; 
        gap: 5em;
    }


    /*FOOTER*/

    .footer {
        background-color: var(--color-negro);
        padding: 1em;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
    }
    
    
    .contenedor-desplegable_footer {
  
        padding: 1em;

    }
    .contenedor-desplegable_footer h2{
        padding: 0;
        margin: 0;
        color: var(--color-secundario);
        
    }
    
    .desplegable-item_footer {
        margin-bottom: 0.3em;
        width: 100%;

    }
    
    
    .desplegable-boton_footer {
        background-color: var(--color-negro);
        color: var(--color-primario);
        cursor: pointer;
        padding: 0.4em;
        border: none;
     
        text-align: left;
        font-size: 1.2em;
        border: 1px solid;
        transition: background-color 0.3s ease;
        display: block;
      
    }
    .desplegable-boton_footer a:hover {
        background-color: var(--color-primario);
    }
    .desplegable-boton_footer:hover {
        background-color: var(--color-secundario);
    }
  
   
    .desplegable-contenido_footer ul li,a{
        color: var(--color-blanco);
        display: flex;
        justify-content: left;
        transition: font-size 0.3s ease-in-out;
    
    }
    .desplegable-contenido_footer a:hover{
        color: var(--color-negro) ;
        cursor:pointer;
        font-size: 18px;
        font-weight: bold;
     
    }
   
    .desplegable-contenido_footer a:hover{
        display:inline-block;
        text-align: left;
        width: 100%;
        background-color: var(--color-secundario);
    }
    .desplegable-contenido_footer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        background-color: var(--color-negro);
        padding: 0 1em;
    }
    .desplegable-contenido_footer ul {
        list-style: none;
        padding: 0;
     
    }
    .desplegable-contenido_footer li {
        padding: 0.2em 0;
        color: var(--color-blanco);
        background-color:var(--color-negro);
       
    }
    
    .desplegable-checkbox_footer {
        display: none;
    }
    .desplegable-checkbox_footer:checked + .desplegable-boton_footer + .desplegable-contenido_footer {
        max-height: 10em;
    }
    
    .social-icons a {
        margin: 0 7px;
        display: inline-block;
    }
    
    .social-icons img {
 
        width: 25px;
        height: 25px;
    }
    .footer p{
        text-align: left;
        padding-top: 2em;
        color: grey;
        font-size:10px;
    }
   






/* RESPONSIVOS*/
 
    @media screen and (max-width: 768px) {
       
         /*inscripcion*/
         .grupo-campos {
            grid-template-columns: 1fr 1fr; 
        }

        .boton-agregar {
            justify-content: center;
        }

        .precio {
            text-align: center;
            margin-bottom: 1em;
        }

        .boton-inscribirse {
            width: 100%; 
        }

 /*giftcard*/
     .contenedor_principal_giftcard {
            grid-template-columns: 1fr; 
            grid-template-rows: auto auto;
            justify-items: center;
            padding: 0;
            width:99%;
    }
    .boton-agregar {
        justify-content: center;
    }

    .contenedor-giftcard, .personalizacion_contenedor {
        width: 75%;
    }
  
    .giftcard, .personalizacion_contenedor  {
        max-width:70%; 
        max-height: auto; 
        justify-items: center;
        margin-bottom: 1em;
    }
    .codigo_QR img {
      width: 80%;
      height: 70%;
        margin: 1em auto 0;
        display: block;
     
    }
    .monto {
        background-color:var(--color-primario);
        color: var(--color-blanco);
        padding: 0.6em;
        border-radius: 3em;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-size: 0.78em; 
        width: 30%;
        top: 1em;
        right: 1em;
    }
    .giftcard h2{
        font-size: 1em;
    }
    .a-logo{
         font-size: 1em;
    }
    .prender-logo{
         font-size: 1em;
    }
   
    .giftcard p{
        font-size: 1em;
    }
 
  /*footer*/
  
    .desplegable-boton_footer {
      font-size: 1em;
      padding: 0.8em;
    }
    
    .social-icons img {
      width: 20px;
      height: 20px;
    }

    .desplegable-contenido_footer ul li,a{
        color: var(--color-blanco);
        display: flex;
        justify-content: left;
        transition: font-size 0.3s ease-in-out;
        font-weight: bold;
      
     
    }
    .contenedor-desplegable_footer h2{
        font-size: 16px;
        padding: 0;
        margin: 0;
        color: var(--color-secundario);
        
    }
  }
  @media (max-width: 480px) {
    .grupo-campos {
        grid-template-columns: 1fr; 
    }

    .boton-agregar {
        justify-content: center;
    }

    .precio {
        text-align: center;
        margin-bottom: 1em;
    }

    .boton-inscribirse {
        width: 100%; 
    }
}
   
 
  

        
       
   
   