*,*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;

}
body,html{
    height: 100%;
    width: 100%;
}
:root{
    --azul: #0f787f;
    --amarillo:#ffcc00;
    --blanco:white;
    --grisIntermedio:#b3b3b3;
    --negro:black;
    --grisOscuro: #1d1d1d;
    --grisClaro: #f0f0f0;

}
.volver {
    text-decoration: none;
    font-size: 18px;
    color: var(--amarillo);
    margin: 20px;
    display: inline-block;
}

/*¨Formulareio para empresas*/
.formulario-inscripcion {
    max-width: 75em;
    margin: 0 auto;
    padding: 1em;
    background-color: #ffffffd8;
    border-radius: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-inscripcion h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
  
}
.formulario-inscripcion h1{
    color: var(--azul);
}

.grupo-campos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 1em;
}

.grupo-campos input {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #FFcc00; 
    border-radius: 30px;
    outline: none;
    transition: border-color 0.3s ease;
}

.grupo-campos input:focus {
    border-color:var(--azul); 
}

.boton-agregar {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
    color:var(--negro);
    margin-bottom: 1.5em;
}

.boton-agregar span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 1.5em;
}

.precio {
    font-size: 1.5em;
    background-color: black;
    color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    margin-right: 1em;
}

.boton-inscribirse {
    background-color:var(--azul);
    color:var(--amarillo);
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-inscribirse:hover {
    background-color:var(--azul);
}

/*giftcard*/

    .contenedor_principal_giftcard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    padding: 1.5em;
     }
     .contenedor-giftcard{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding: 20px;
   
   }
   .giftcard{

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:space-evenly; 
   padding: 1.25em;
   background-image: url('../images/circuitos.jpg');
   background-size: cover;
   background-position: center;
   text-align: center;
   width: 80%;

   height: 100%;
   max-height: 35em;
   border-radius: 2em;
   border: 2px solid #000;
   position: relative;
   }

     .a-logo{
    color: var(--azul);
    font-size: 30px;
  
    -webkit-text-stroke: -2px white;
    }
     .prender-logo{
    color: var(--blanco);
    font-size: 30px;

    -webkit-text-stroke: -2px white;
    }

    .giftcard img{
    width: 6em;
    height: 2em;
  
    }

    .monto {
    background-color:var(--azul);
    color: var(--blanco);
    padding: 0.6em;
    border-radius: 3em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 1.5em; 
    width: 4em; 

    /*arriba-derecha*/
   top: 1em;
   right: 1em;

    /*abajo-izquierda
    bottom: 1em;
    left: 1em;
   */
    /*arriba-izquierda
     top: 1em;
    left: 1em;
   */
    }

    .grupo-opciones input{
    width: 4em;
    }
    .codigo_QR img {
    width: 10em;
    height: 10em;
    margin: 1em auto 0;
    display: block;
 
    }
   .giftcard p{
    color: var(--amarillo);
 /*
   color:red;
   color: green;
   color:blue;
   color: white;
   color: var(--negro);
   font-size: 20px;
   font-size: 32px;
   font-size: 48px;
   font-size: 60px;
    */
    font-size: 28px;
    }
    .personalizacion_contenedor {
    background-color: #e3f2fd;
    border-radius: 0.6em;
    padding: 1.2em;
    margin-top: 1em;
    width: 90%;
    }
    

     .personalizacion_contenedor h3 {
    margin-bottom: 1.2em;
    color: var(--azul);
    }

    .personalizacion_contenedor input {
    padding: 0.6em;
    margin-bottom: 1em;
    border: 1px solid var(--amarillo);
    border-radius: 2em;
    width: 80%;
    
    }

    .botones_azules {

        display: inline-block;
        text-align: center;  
        padding: 10px 20px;   
        background-color:var(--azul);
        color: white;        
        border-radius: 5em;  
        transition: background-color 0.3s ease;
        display: flex;
        justify-content: center; 
        align-items: center;  
  
    }  
    

    .botones_azules:hover {
    background-color:var(--amarillo);
    transition: background-color 0.3s ease;

    }
    .giftcard h2 {
    margin-top: 40px;
    font-size: 24px;
    color:var(--blanco);
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 0.2em 0.5em; 
    border-radius: 0.5em;
    }

    .personalizacion_contenedor p {
    font-size: 18px;
    color: var(--azul);
    margin: 10px 0;
    }

    .circulo {
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: 0.1em solid black; 
    display: inline-block;
    cursor: pointer;
    margin-left: 0.5em;
   
    }

    .grupo-items input{
    width: 1.5em;
    height: 1.5em;
    }

    .grupo-opciones {
        display: flex;
        gap: 2%; 
        margin-bottom: 1em;
        
    }
    .label_opciones-pixeles{
     margin: 0.5em;
    }
    
    .grupo-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: small;
        width: auto; 
        text-align: center;
    }
    .grupo-items img{
        width: 2em;
        height: 3em;
        margin-bottom: 0.5em;
    }
    .rectangulo-posiciones{
        width: 3em;
        height: 2em;
        border: 1px var(--negro)solid;
        position: relative;
        margin-bottom: 0.5em;
    
    }
    .posicion_arriba-izquierda{
        width: 1em;
        height: 0.3em;
        border: 1px var(--negro)solid;
        background-color: var(--negro);
        position: absolute;
        top: 0.2em;
        left: 0.2em;
    }
    .posicion_arriba-derecha{
        width: 1em;
        height: 0.3em;
        border: 1px var(--negro)solid;
        background-color: var(--negro);
        position: absolute;
        top: 0.2em;
        right: 0.2em;
    }
    .posicion_abajo-izquierda{
        width: 1em;
        height: 0.3em;
        border: 1px var(--negro)solid;
        background-color: var(--negro);
        position: absolute;
       bottom: 0.2em;
        left: 0.2em;
    }


    .rojo{
    background-color: red;
    }
    .azul{
    background-color: blue;
    }
    .verde{
    background-color:green;
    }
    .amarillo{
    background-color: yellow;
    }
    .blanco{
    background-color: white;
    }
    .negro{
    background-color: black;
    }
    
    .grupo-colores input[type="radio"] {
        display: none; 
    }

    .grupo-colores input[type="radio"]:checked + .circulo {
        border: 0.2em solid #00b29e ; 
        gap: 5em;
    }


    /*footer pantalla grande*/

    footer{
        background-color: var(--negro);
    }
    .contenedor_columnas_footer{
        display: grid;
        grid-template-columns: 2fr 1fr 2fr ; 
        grid-template-rows: auto auto;

        gap: 1px; 
         padding: 2em 1em 7em 5em;
        padding-bottom: 2em;
        line-height: 1.5em;
    }
    .contenedor_columnas_footer h2{
        color: var(--azul);
        padding-bottom: 1em;
        font-family:Arial, Helvetica, sans-serif;
    }

    .fila2-footer{
        grid-column: 1 / 4;
        background-color: var(--grisIntermedio);
        padding:0.5em;
        text-align:right;
        font-size: small;
    }
    .contenedor_columnas_footer ul li, a{
        transition: var(--azul);
    }

    .columna-footer a, ul li{
    color: var(--amarillo);
    text-align: left;
    transition: color 0.3s ease, transform 0.3s ease; 

    }
    .columna-footer ul li a:hover {
        color:var(--azul); 
        transform: scale(1.1); 
    }
    .columna-footer p{
     color: grey;
     padding-top: 5em;
    }
       
    /*--------------------------------------------*/

    /*footer responsivo*/

    .footer {
    background-color: var(--negro);
    padding: 1em;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    }
  
    .desplegable-boton_footer {
      font-size: 1em;
      padding: 0.8em;
    }
     
    .social-icons img {
      width: 20px;
      height: 20px;
    }

    .desplegable-contenido_footer ul li,a{
        color: var(--blanco);
        display: flex;
        justify-content: left;
        transition: font-size 0.3s ease-in-out;
        font-weight: bold;
    }

    .contenedor-desplegable_footer h2{
        font-size: 16px;
        padding: 0;
        margin: 0;
        color: var(--amarillo);
        
    }
  
  .contenedor-desplegable_footer {
    padding: 1em;
    }

    .contenedor-desplegable_footer h2{
    padding: 0;
    margin: 0;
    color: var(--amarillo);
    
    }

.desplegable-item_footer {
    margin-bottom: 0.3em;
    width: 100%;

}

.desplegable-boton_footer {
    background-color: var(--negro);
    color: var(--azul);
    cursor: pointer;
    padding: 0.4em;
    border: none;
    text-align: left;
    font-size: 1.2em;
    border: 1px solid;
    transition: background-color 0.3s ease;
    display: block;
  
}
.desplegable-boton_footer a:hover {
    background-color: var(--azul);
}
.desplegable-boton_footer:hover {
    background-color: var(--amarillo);
}


.desplegable-contenido_footer ul li,a{
    color: var(--blanco);
    display: flex;
    justify-content: left;
    transition: font-size 0.3s ease-in-out;

}
.desplegable-contenido_footer a:hover{
    color: var(--negro) ;
    cursor:pointer;
    font-size: 18px;
    font-weight: bold;
 
}

.desplegable-contenido_footer a:hover{
    display:inline-block;
    text-align: left;
    width: 100%;
    background-color: var(--amarillo);
}
.desplegable-contenido_footer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: var(--negro);
    padding: 0 1em;
}
.desplegable-contenido_footer ul {
    list-style: none;
    padding: 0;
 
}
.desplegable-contenido_footer li {
    padding: 0.2em 0;
    color: var(--blanco);
    background-color:var(--negro);
   
}

.desplegable-checkbox_footer {
    display: none;
}
.desplegable-checkbox_footer:checked + .desplegable-boton_footer + .desplegable-contenido_footer {
    max-height: 10em;
}

.social-icons a {
    margin: 0 7px;
    display: inline-block;
}

.social-icons img {

    width: 25px;
    height: 25px;
}
.footer p{
    text-align: left;
    padding-top: 2em;
    color: var(--grisIntermedio);
    font-size:10px;
}
/*confirmacion de compra giftcard*/

.contenedor-compra {
    display: grid;
   grid-template-columns: 1fr 1fr;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 75em;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.titulo-giftcard {
    padding-top: 0.4;
    padding-bottom: 0.4em;
    font-size: 28px;
}

.destinatario-giftcard, .monto-giftcard, .email-giftcard {
    font-size: 18px;
    margin: 10px 0;
    padding-top: 1em;
}

.seccion-detalles  {

    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 1em;
    text-align: left;
}
.seccion-detalles h2 {
    color: var(--azul);
}  
.detalles{
padding-bottom: 1em;
padding-top: 1em;
}
.detalles-tarjeta h3{
    color: var(--azul);
}

.medios-pago {
    margin-bottom: 1em;
}

.opciones-pago {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1em;
}


.opcion-pago input[type="radio"] {
    display: none;
}

.opcion-pago img {
    width: 60px;
    height: auto;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border 0.3s ease;
}

.opcion-pago input[type="radio"]:checked + img {
    border: 2px solid #b31212;
}

.detalles-tarjeta {
    background-color: #e9e9e9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.detalles-tarjeta label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.detalles-tarjeta input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.descuento {
    background-color: #fffae6;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.descuento strong {
    color: #d18d02;
}

.resumen-pago {
    text-align: center;
}

.boton-pagar {
    background-color: var(--azul);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1em;
}

.boton-pagar:hover {
    background-color: var(--amarillo);
}

/*  MEDIA QUERIES*/

/*confimación*/
@media (max-width: 768px) {
    .contenedor-compra {
        flex-direction: column;
    }

    .opciones-pago {
        justify-content: space-between;
    }

    .boton-pagar {
        width: 100%;
    }

    .contenedor-compra{
        grid-template-columns: 1fr; 
        grid-template-areas: "contenedor-giftcard" "seccion-detalles";
    }
}
 /* Footer responsivo */
@media screen and (min-width: 769px) {
   
   .footer {
        display: none; 
    }
    
}
/*inscripcion responsivo*/

    @media (max-width: 480px) {
    .grupo-campos:nth-of-type(2) {
        display: none;
    }
}

    @media screen and (max-width: 768px) {

/*inscripcion responsivo*/
        .grupo-campos:nth-of-type(3) {
            display: none;
            padding-bottom: 3em;
        }
        .precio{
            margin: 2em;
    
            }
        .grupo-campos {
            display: grid;
            grid-template-columns:1fr;
            margin-bottom: 1em;
        }
        
        .grupo-campos input {
            padding: 10px;
            font-size: 1em;
            border: 2px solid #FFcc00; 
            border-radius: 30px;
            outline: none;
            transition: border-color 0.3s ease;
        }
/*giftcard*/
     .contenedor_principal_giftcard {
            grid-template-columns: 1fr; 
            grid-template-rows: auto auto;
            justify-items: center;
            padding: 0;
            width:99%;
    }

    .contenedor-giftcard, .personalizacion_contenedor {
        width: 75%;
    }
  
    .giftcard, .personalizacion_contenedor  {
        max-width:70%; 
        max-height: auto; 
        justify-items: center;
        margin-bottom: 1em;
    }
    .codigo_QR img {
      width: 80%;
      height: 70%;
      margin: 1em auto 0;
      display: block;
     
    }
    .monto {
        background-color:var(--azul);
        color: var(--blanco);
        padding: 0.6em;
        border-radius: 3em;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-size: 0.78em; 
        width: 30%;

        /*arriba-derecha*/
       top: 1em;
       right: 1em;
    }
    .giftcard h2{
        font-size: 1em;
    }
    .a-logo{
         font-size: 1em;
    }
    .prender-logo{
         font-size: 1em;
    }
   
    .giftcard p{
        font-size: 1em;
    }
    .contenedor_columnas_footer {
        display: none; 
    }
    .fila2-footer{
        display: none;
    }

   }
