@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --azul: #0f787f; 
    --amarillo: #ffcc00;
    --gris-oscuro: #1d1d1d;
    --gris-intermedio: #b3b3b3;
    --gris-claro: #f0f0f0;
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: white; 
    color: var(--gris-oscuro);
}

.contenedor-contacto {
    width: 100%; 
    height: 100vh; 
    padding: 20px; 
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
}

.seccion-contacto, .seccion-info {
    width: 50%; 
    box-sizing: border-box; 
    justify-content: center;
}

.seccion-contacto {
    min-width: 400px; 
    display: flex; 
    align-items: center;
}

.seccion-info {
    min-width: 400px; 
    width: 30%; 
    display: flex; 
    flex-direction: column; 
    align-items: left;
    padding: 1em;
}

form {
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    max-width: 320px; 
    width: 100%;
}

h1, h2, h3 {
    color: var(--azul);
}

h1 {
    font-size: 3em; 
    text-align: center; 
    margin-bottom: 0.5em;
}

h4{
    font-weight: 400;
    margin-bottom: 1.5em;
}

input {
    border: 1px solid var(--amarillo); 
    border-radius: 1em; 
    padding: 0.6em; 
    height: 2.2em; 
    width: 100%; 
    margin-bottom: 1em; 
    font-size: 1em; 
    color: var(--gris-intermedio);
}

textarea {
    height: 100px; 
    resize: none;
}

.btn {
    color: #fff; 
    border-radius: 2em; 
    padding: 4px 1em; 
    border: none; 
    background-color: var(--azul);
}

.btn-azul {
    font-size: 1.2em;
}

.btn:hover {
    cursor: pointer; 
    background-color: var(--amarillo);
}

.contenedor-boton-contacto {
    display: flex; 
    justify-content: flex-end; 
    width: 100%;
}

.ubicacion {
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

iframe {
    width: 100%; 
    height: 450px; 
    border: 0;
}

.whatsapp {
    display: flex; 
    margin-bottom: 2em;
}

.imagen-whatsapp {
    max-width: 8%;
}

.telefono-contacto {
    font-weight: bold; 
    color: #1ba553; 
    font-size: 1.4em;
}

input::placeholder {
    color: var(--gris-intermedio); 
    font-size: 1em;
}

input:focus {
    border-color: #0f787f; 
    outline: none;
}
