body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
/* Volver */
.volver {
    text-decoration: none;
    font-size: 18px;
    color: #f1c40f;
    margin: 20px;
    display: inline-block;
}

/* Detalle del curso */
.course-details {
    display: flex;
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 800px;
}

.course-image img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.course-info {
    margin-left: 20px;
}

.course-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.course-info p {
    margin: 5px 0;
}

.inscribirse {
    padding: 10px 20px;
    background-color: #00bfa5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.inscribirse:hover {
    background-color: #008e76;
}

/* Contenidos por clase */
.content-instructor {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.class-contents {
    width: 50%;
}

.class-contents h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

details {
    background-color: #e6f7f7;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

details[open] summary {
    font-weight: bold;
    color: #00796b;
}

details summary {
    font-size: 18px;
}

details p {
    margin: 10px 0;
    padding-left: 20px;
}

/* Instructor */
.instructor-info {
    text-align: center;
}

.instructor-info img {
    width: 75%;
    height: 75%;
    border-radius: 50%;
}

.instructor-info h3 {
    font-size: 18px;
    margin-top: 10px;
}

.instructor-info span {
    font-size: 16px;
    color: #f1c40f;
}
.article-cursos-destacados {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 12rem;
    gap: 5%;
}

.div-curso-destacado {
    display: flex;
    background-color: #f0f0f0;
    border-radius: 2rem;
    width: 30%;
    gap: 5%;

}

.titulo-curso {
    color: #0f787f;
    font-size: x-large;
    font-weight: bold;
}

.bloque-curso-destacado {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 55%;
}

.particion-datos-curso {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
}

.segunda-particion {
    padding-right: 10%;
}

.contenedor_boton {
    position: absolute;
    bottom: 3%;
    transform: translate(-50%);
    left: 48%;
}

.imagen-curso-destacado {
    align-self: center;
    width: 90%;
    border-radius: 2rem;
}
.btn_detalle {
    padding: 6px 5px;
    border: none;
    border-radius: 2em;
    background-color: var(--azul);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.btn_detalle:hover {
    background-color: var(--amarillo);
}