:root{
    --color-primario: #0f787f;
    --color-secundario:#ffcc00;
    --color-blanco:white;
    --color-gris:#b3b3b3;
    --color-negro:black;
}
.footer {
    background-color: var(--color-negro);
    padding: 1em;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}


.contenedor-desplegable_footer {

    padding: 1em;
}
.contenedor-desplegable_footer h2{
    padding: 0;
    margin: 0;
    color: var(--color-secundario);
    
}

.desplegable-item_footer {
    margin-bottom: 0.3em;
    width: 100%;
}


.desplegable-boton_footer {
    background-color: var(--color-negro);
    color: var(--color-primario);
    cursor: pointer;
    padding: 0.4em;
    border: none;
 
    text-align: left;
    font-size: 1.2em;
    border: 1px solid;
    transition: background-color 0.3s ease;
    display: block;
  
}
.desplegable-boton_footer a:hover {
    background-color: var(--color-primario);
}
.desplegable-boton_footer:hover {
    background-color: var(--color-secundario);
}


.desplegable-contenido_footer ul li,a{
    color: var(--color-blanco);
    display: flex;
    justify-content: left;
    transition: font-size 0.3s ease-in-out;

}
.desplegable-contenido_footer a:hover{
    color: var(--color-negro) ;
    cursor:pointer;
    font-size: 18px;
    font-weight: bold;
 
}

.desplegable-contenido_footer a:hover{
    display:inline-block;
    text-align: left;
    width: 100%;
    background-color: var(--color-secundario);
}
.desplegable-contenido_footer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: var(--color-negro);
    padding: 0 1em;
}
.desplegable-contenido_footer ul {
    list-style: none;
    padding: 0;
 
}
.desplegable-contenido_footer li {
    padding: 0.2em 0;
    color: var(--color-blanco);
    background-color:var(--color-negro);
   
}

.desplegable-checkbox_footer {
    display: none;
}
.desplegable-checkbox_footer:checked + .desplegable-boton_footer + .desplegable-contenido_footer {
    max-height: 10em;
}

.social-icons a {
    margin: 0 7px;
    display: inline-block;
}

.social-icons img {

    width: 25px;
    height: 25px;
}
.footer p{
    text-align: left;
    padding-top: 2em;
    color: grey;
    font-size:10px;
}
@media screen and (max-width: 768xp){
    .desplegable-boton_footer {
        font-size: 1em;
        padding: 0.8em;
      }
      
      .social-icons img {
        width: 20px;
        height: 20px;
      }
  
      .desplegable-contenido_footer ul li,a{
          color: var(--color-blanco);
          display: flex;
          justify-content: left;
          transition: font-size 0.3s ease-in-out;
          font-weight: bold;
        
       
      }
      .contenedor-desplegable_footer h2{
          font-size: 16px;
          padding: 0;
          margin: 0;
          color: var(--color-secundario);
          
      }
}