@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Raleway:wght@100..900&display=swap');

:root {
    --azul: #0f787f;
    --amarillo: #ffcc00;
    --grisOscuro: #1d1d1d;
    --grisIntermedio: #b3b3b3;
    --grisClaro: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    background-color: white;
    color: var(--grisOscuro);
}

/* HEADER FORMULARIOS */
.header-formularios{
    padding: 1em;
    width: 100%;
    height: 10%;
    background-color: white;
}

.header-formularios-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header-formularios-contenedor .logo img {
    width: 10em;
}

.volver {
    display: flex;
}

.volver a {
    color: var(--amarillo);
    font-size: 1.2em;
    text-decoration: none;
    margin-top: 0.3em;
    font-weight: bold;
}

.volver a:hover {
    color: var(--azul);
    text-decoration: underline;
}

.flecha img {
    width: 2em;
}

/* FORMULARIOS */
.Formulario, .Formulario-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.formulario-cuenta {
    min-width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* BOTONES */
.btn {
    color: #fff;
    border-radius: 2em;
    padding: 4px 1em;
    border: none;
    max-width: 70%;
    text-decoration: none;
}

.btn-azul {
    background-color: var(--azul);
    font-size: 1.2em;
}

.btn-azul:hover {
    cursor: pointer;
    background-color: var(--amarillo);
}

.btn-formulario-cuenta {
    display: flex;
    justify-content: center;
    margin: 1em auto; 
}

/* CAMPOS FORMULARIOS */
.label-formulario-cuenta{
    color: var(--azul);
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

input {
    border: 1px solid var(--amarillo);
    border-radius: 1em;
    padding: 0.6em;
    height: 2.2em;
    width: 100%;
    margin-bottom: 1em;
    min-width: 20em;
    font-size: 1em;
    color: var(--grisIntermedio);
}

input::placeholder {
    color: var(--grisIntermedio);
}

input:focus {
    border-color: var(--azul);
    outline: none;
}

/* TEXTOS Y TITULOS */
h1, h2, h3 {
    color: var(--azul);
}

.tituloPrincipal-formularios {
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    margin-bottom: 0.5em;
}

.informacion-contacto{
    font-weight: 400;
    margin-bottom: 1.5em;
}

.parrafo-enlaceRecuperacion {
    text-align: center;
    color: var(--grisOscuro);
    margin: -1em 0 2em;
    width: 20%;
    min-width: 22em;
}

/* ENLACES */
#texto-Olvido-De-Contraseña {
    display: flex;
    justify-content: flex-end;
    margin: -0.5em 0 0 10em;
    font-size: 0.9em;
}

#texto-Olvido-De-Contraseña a,
#texto-Registro a,
#texto-InicioSesion a {
    color: var(--azul);
    text-decoration: none;
}

#texto-Olvido-De-Contraseña a:hover,
#texto-Registro a:hover,
#texto-InicioSesion a:hover {
    text-decoration: underline;
}

/* CONTACTO */
.contenedor-contacto {
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.seccion-contacto,
.seccion-info {
    width: 50%;
    display: flex;
    justify-content: center;
}

.seccion-contacto {
    min-width: 400px;
    align-items: center;
}

.seccion-info {
    min-width: 400px;
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
}

.formulario-contacto {
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    max-width: 320px; 
    width: 100%;
}

.contenedor-boton-contacto {
    display: flex; 
    justify-content: flex-end; 
    width: 100%;
}

.ubicacion {
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

iframe {
    width: 100%; 
    height: 450px; 
    border: 0;
}

.whatsapp {
    display: flex; 
    margin-bottom: 2em;
}

.imagen-whatsapp {
    max-width: 8%;
}

.telefono-contacto {
    font-weight: bold; 
    color: #1ba553; 
    font-size: 1.4em;
}

.btn-formulario-contacto {
    width: 10%;
    margin-top: 2em;
    display: inline-block;
    white-space: nowrap;
    min-width: 10rem;
}
