@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --azul: #0f787f;
    --amarillo: #ffcc00;
    --grisOscuro: #1d1d1d;
    --grisIntermedio: #b3b3b3;
    --grisClaro: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    box-shadow: 1px 13px 20px 0px rgba(0, 0, 0, 0.1);
    align-items: center;
    height: 5rem;
    justify-content: space-around;
}




.contenedor_carrito {
    position: relative;
    display: flex;
    justify-content: center;
    width: 3rem;
    height: 3rem;
}

.img-carrito {
    width: 100%;
    height: auto;
}

.numero-carrito-fijo {
    position: absolute;
    left: 70%;
    font-weight: bold;
    font-size: small;
    color: var(--azul);
    background-color: var(--amarillo);
    border-radius: 10rem;
    width: 30%;
    text-align: center;
}



.logo {
    max-height: 50px;
}

.nav-bar {
    text-align: center;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-menu li {
    margin: 0 15px;
    position: relative;
    display: inline-block;

}

.nav-menu li:hover ul {
    display: block;
}


.nav-menu ul {
    display: none;
    position: absolute;
    right: -110%;
    background-color: var(--grisClaro);
    border-radius: 2em;
}

.nav-menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--grisOscuro);

}


.nav-menu a {
    text-decoration: none;
    color: var(--grisOscuro);
    font-weight: bold;
    transition: color 0.3s;
}


.nav-menu a:hover {
    color: var(--azul);
}

.header form input {
    border-radius: 5rem;
    border: 1px solid var(--grisOscuro);
    height: 1.5rem;
    width: 12rem;
    padding-left: 5%;
}



.contenedor_carrito_btn {
    display: flex;

}


.btn {
    padding: 8px 15px;
    border: none;
    border-radius: 2em;
    background-color: var(--azul);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--amarillo);
}

/* HEADER RESPONSIVE LISTO*/

@media screen and (max-width: 768px) {
    .header {
        width: 100%;
    }

    .header .ocultar-en-movil {
        display: none;
    }

    .header .logo-container,
    .header .contenedor_carrito_btn {
        display: flex;
        /* O el estilo que necesites */
    }

    .header {
        justify-content: center;
        gap:5%;
    }

    .header .logo-container {
        width: 35%;
    }

    .header .logo-container img {
        width: 100%;
    }

    .header .contenedor_carrito_btn {
        justify-content: flex-end;
        width: 55%;
    }

    .header .contenedor_carrito_btn .btn {
        padding: 4px 8px;
        font-size: 74%;
    }

   

}