:root {
    --azul: #0f787f;
    --amarillo: #ffcc00;
    --grisOscuro: #1d1d1d;
    --grisIntermedio: #b3b3b3;
    --grisClaro: #f0f0f0;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
}

/*CARROUSEL*/

.section-main-carrousel {
    width: 110rem;
    align-self: center;
}

.contenedor_imagen_carrousel {
    width: 100%;
    position: relative;
}

.img-carrousel-pincipal {
    height: 50rem;
    width: 100%;
    object-fit: cover;
}

.img-flecha-carrousel-izquierda {
    position: absolute;
    color: #ffcc00;
    width: 5%;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}

.img-flecha-carrousel-derecha {
    position: absolute;
    color: #ffcc00;
    width: 5%;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
}

/* TUTORIAL */

.section-main-tutorial {
    display: flex;
    align-items: center;
    width: 110rem;
    align-self: center;
}

.elementos-del-tutorial {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.elementos-del-tutorial .div-texto-tutorial {
    width: 50%;
}

.article-tutorial {
    flex-direction: column;
    align-items: center;
}


.tutorial-titulo {
    font-size: 3.5rem;
    font-weight: bold;
}

.tutorial-subtitulo {
    font-size: 2rem;
    color: var(--azul);
    font-weight: bold;
}



.div-tutorial {
    display: flex;
    height: 12rem;
    width: 55%;
    gap: 5%;
}

.div-tutorial .div-imagen {
    display: flex;
    justify-content: center;
    height: 4rem;
    align-self: center;
}

.tutorial-descripcion {
    align-self: center;
}

h5 {
    font-size: 2rem;
}

.vinculo-div-tutorial {
    display: inline-flex;
    text-decoration: underline;
    color: #0f787f;
}



/* CURSOS DESTACADOS */

.div-titulo-oferta-cursos {
    display: flex;
    font-size: 2.2rem;
    font-weight: bold;
    padding-top: 8%;
}

.section-main-cursos-destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    align-self: center;
    width: 110rem;
}

.article-cursos-destacados {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 12rem;
    gap: 5%;
}

.div-curso-destacado {
    display: flex;
    background-color: #f0f0f0;
    border-radius: 2rem;
    width: 30%;
    gap: 5%;

}

.titulo-curso {
    color: #0f787f;
    font-size: x-large;
    font-weight: bold;
}

.bloque-curso-destacado {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 55%;
}

.particion-datos-curso {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
}

.segunda-particion {
    padding-right: 10%;
}

.contenedor_boton {
    position: absolute;
    bottom: 6%;
    transform: translate(-50%);
    left: 48%;
}

.imagen-curso-destacado {
    align-self: center;
    width: 90%;
    border-radius: 2rem;
}



/*MEDIOS DE PAGO*/

.section-medios-de-pago {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    width: 110rem;
    gap: 10%;
    padding-top: 5%;
    align-self: center;
}

.article-titulo-medio-de-pago {
    display: flex;
    height: 30%;
    align-items: center;
}

.titulo-medio-de-pago {
    font-weight: bold;
    font-size: xx-large;
}

.contenedor-carrousel-medio-de-pago {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    gap: 4%;
}

.items-medio-de-pago {
    display: flex;
    align-items: center;
    width: 12%;
    height: 80%;
    border-radius: 2rem;
    justify-content: center;
    background-color: #f0f0f0;
}

.img-MdPago {
    width: 90%;

}

.flecha {
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
}

.contenedor-carrousel-medio-de-pago .izquierda {
    justify-content: flex-end;
}

.contenedor-carrousel-medio-de-pago .derecha {
    justify-content: flex-start;
}

.img-flecha-carrousel-MdPago {
    width: 50%;
}

.img-flecha-carrousel-MdPago {
    width: 50%;
}

@media screen and (max-width: 768px) {
    main{
        width:100%;

    }
}