@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Raleway:wght@100..900&display=swap');

:root {
    --azul: #0f787f;
    --amarillo: #ffcc00;
    --negro: black;
    --grisOscuro: #1d1d1d;
    --grisIntermedio: #b3b3b3;
    --grisClaro: #f0f0f0;
    --blanco: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: white;
    color: var(--grisOscuro);
    scroll-behavior: smooth;
}

/*Sesion iniciada*/
.icon-img {
    width: 2.5em;
    height: 2.5em;
}

.usuario_icon {
    padding-left: 2em;
}


.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}



/* HEADER PRINCIPAL */

.header {
    display: flex;
    position: fixed;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    box-shadow: 1px 13px 20px 0px rgba(0, 0, 0, 0.1);
    align-items: center;
    width: 100%;
    justify-content: space-around;
    /*--overflow-x: hidden;*/
}

.contenedor_carrito {
    position: relative;
    display: flex;
    justify-content: center;
    width: 3rem;
    height: 3rem;
}

.img-carrito {
    width: 100%;
    height: auto;
}

.numero-carrito-fijo {
    position: absolute;
    left: 70%;
    font-weight: bold;
    font-size: small;
    color: var(--azul);
    background-color: var(--amarillo);
    border-radius: 10rem;
    width: 30%;
    justify-content: center;
}

.logo {
    max-height: 50px;
}

.nav-bar {
    text-align: center;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-menu li {
    margin: 0 15px;
    position: relative;
    display: inline-block;

}

.nav-menu li:hover ul {
    display: block;
}

.nav-menu ul {
    display: none;
    position: absolute;
    right: -110%;
    background-color: var(--grisClaro);
    border-radius: 2em;
}

.nav-menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--grisOscuro);

}

.nav-menu a {
    text-decoration: none;
    color: var(--grisOscuro);
    font-weight: bold;
    transition: color 0.3s;
}


.nav-menu a:hover {
    color: var(--azul);
}

.header form input {
    border-radius: 5rem;
    border: 1px solid var(--grisOscuro);
    height: 1.5rem;
    width: 12rem;
    padding-left: 5%;
}

.contenedor_carrito_btn {
    display: flex;

}

/* HEADER FORMULARIOS */
.header-formularios {
    padding: 1em;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header-formularios .header-formularios-contenedor {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.header-formularios .header-formularios-contenedor .logo {
    align-self: center;
}


.header-formularios .logo img {
    width: 10em;
}

.volver {
    display: flex;
}

.volver a {
    color: var(--amarillo);
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;

}

.volver a:hover {
    color: var(--azul);
    text-decoration: underline;
}

.flecha img {
    width: 3em;
}


/* BOTONES */

.btn {
    color: #fff;
    border-radius: 2em;
    padding: 4px 1em;
    border: none;
    max-width: 70%;
    text-decoration: none;
}

.btn-azul {
    background-color: var(--azul);
    font-size: 1.2em;
}

.btn-azul:hover {
    cursor: pointer;
    background-color: var(--amarillo);
}

.btn-header {
    padding: .5em 1rem;
    padding-top: 5%;
    border: none;
    border-radius: 2em;
    background-color: var(--azul);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
    text-align: center;
}


.btn-header:hover {
    background-color: var(--amarillo);
}

.btn-formulario-cuenta {
    display: flex;
    justify-content: center;
    margin: 1em auto;
}


/*CARROUSEL*/

.section-main-carrousel {
    width: 100%;
    align-self: center;

}

.contenedor_imagen_carrousel {
    width: 100%;
    position: relative;
    height: 90vh;
    overflow: hidden;
    display: flex;
}

.img-carrousel-principal {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    z-index: 1;
}

.img-flecha-carrousel-izquierda {
    position: absolute;
    color: #ffcc00;
    width: 5%;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}

.img-flecha-carrousel-derecha {
    position: absolute;
    color: #ffcc00;
    width: 5%;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
}

/* TUTORIAL */

.section-main-tutorial {
    display: flex;
    align-items: center;
    width: 100%;
    align-self: center;
    height: 100vh;
}

/* NUEVAS CLASES */
.section-main-pasos-a-seguir,
.section-oferta-de-cursos {
    width: 100%;
    padding: 5%;
}

.section-main-pasos-a-seguir,
.section-main-pasos-a-seguir article,
.section-oferta-de-cursos,
.section-oferta-de-cursos .article-oferta-de-curso,
.section-oferta-de-cursos .article-oferta-de-curso .div-curso {
    display: flex;
}

.section-oferta-de-cursos,
.section-main-pasos-a-seguir article {

    flex-direction: column;
}

.section-main-pasos-a-seguir article {
    width: 50%;
}

.article-titulo-pasos-a-seguir {
    justify-content: center;
}

.section-main-pasos-a-seguir .article-titulo-pasos-a-seguir .div-inscripcion {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.titulo {
    font-weight: bold;
}


.section-oferta-de-cursos .titulo {
    font-size: x-large;
    text-align: center;
}

.div-inscripcion .inscripcion {
    color: var(--azul);
    font-size: x-large;
}


.article-pasos-enumerados,
.section-oferta-de-cursos {
    gap: 3rem;
}


.section-oferta-de-cursos .article-oferta-de-curso {
    gap: 2%;
}

.section-oferta-de-cursos .article-oferta-de-curso .div-curso {
    width: 50%;
    gap: 2%;
    background-color: var(--grisIntermedio);
    border-radius: 2rem;
    padding: 1%;
}

.figure-img-curso {
    width: 100%;
}

.figure-img-curso img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 2rem;
}


.figcaption-epigrafe-curso a {
    justify-content: center;
    margin-left: 0%;
}

.section-medio-de-pago {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.section-medio-de-pago .div-titulo-medio-de-pago {
    display: flex;
    justify-content: center;
}

.section-medio-de-pago .div-titulo-medio-de-pago .titulo {
    font-size: x-large;
}


.section-medio-de-pago .article-medio-de-pago {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 5%;
}

.section-medio-de-pago .figure-flecha {
    width: 10%;
}

.section-medio-de-pago .figure-flecha img,
.section-medio-de-pago .figure-medio-de-pago img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 2rem;
    transform: scale(0.8);
}

.section-medio-de-pago .figure-medio-de-pago {
    width: 16%;
    border: 0.5px solid var(--grisOscuro);
    border-radius: 2rem;
}

.section-medio-de-pago figure {
    align-self: center;

}

@media screen and (max-width: 1040px) {

    .section-main-pasos-a-seguir,
    .article-oferta-de-curso {
        flex-direction: column;
    }

    .section-main-pasos-a-seguir {

        gap: 2rem;
        align-items: center;
    }

    .section-main-pasos-a-seguir .article-pasos-enumerados {
        text-align: center;
    }

    .section-oferta-de-cursos .article-oferta-de-curso .div-curso {
        width: 100%;

    }

    .figure-img-curso {
        width: 30%;
    }

    .section-oferta-de-cursos .article-oferta-de-curso .div-curso div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .section-oferta-de-cursos .article-oferta-de-curso .div-curso div .titulo-curso {
        font-size: 135%;
    }

    .section-oferta-de-cursos .article-oferta-de-curso {
        gap: 2.5rem;

    }

    .section-medio-de-pago .article-medio-de-pago .figure-medio-de-pago {
        width: 30%;
    }

    /* */

    .header .contenedor_carrito,
    .header form,
    .ocultar {
        display: none;
    }

    .nav-bar,
    .header .contenedor_carrito_btn .btn-header {
        font-size: 70%;
    }

    .main {
        width: 100%;
    }

    .main .section-main-tutorial {
        display: flex;
        flex-direction: column;
    }

    .main .elementos-del-tutorial {
        display: flex;
        width: 50%;
        justify-content: center;
    }

    .elementos-del-tutorial .div-texto-tutorial {
        display: flex;
        flex-direction: column;

    }

    .elementos-del-tutorial .div-texto-tutorial .tutorial-titulo {
        font-weight: bold;
        font-size: 70%;
    }

    .elementos-del-tutorial .div-texto-tutorial .tutorial-subtitulo {
        font-size: 70%;
    }

    .tutorial-descripcion p,
    .tutorial-descripcion .titulo {
        font-size: 70%;
    }

    .tutorial-descripcion .titulo {
        font-weight: bold;
    }

    .div-tutorial {
        width: 100%;
        height: 20%;
        gap: 5%;
        justify-content: center;
    }

    .div-tutorial .div-imagen {
        width: 30%;
        height: 20%;
    }

    .section-main-cursos-destacados {
        width: 100%;
        gap: 2.3rem;
    }

    .div-titulo-oferta-cursos {
        font-size: 125%;
    }

    .article-cursos-destacados {
        flex-direction: column;
        width: 40vh;
    }

    .article-cursos-destacados .div-curso-destacado {
        align-self: center;
        width: 40vh;
    }

    .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado .imagen-curso-destacado {
        height: 80%;
    }

    .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado .contenedor_boton .btn-header {
        font-size: 70%;
        text-wrap: nowrap;
        padding: 2px 4px;
        font-weight: 500;
    }

    .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado div {
        font-size: 70%;
    }

    .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado div .titulo-curso {
        font-size: 100%;
    }

    .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado .particion-datos-curso {
        font-size: 70%;
    }

    .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado .particion-datos-curso .primer-particion {
        display: flex;
        gap: 30%;
        width: 50%;
    }

    .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado .particion-datos-curso .primer-particion p {
        font-size: 70%;
    }

    .section-medios-de-pago {
        gap: 2%;
        padding-top: 0%;
    }

    .article-titulo-medio-de-pago {
        height: 15%;
        justify-content: center;
        width: 100%;
    }

    .article-titulo-medio-de-pago .titulo-medio-de-pago {
        font-size: 130%;
    }

    .contenedor-carrousel-medio-de-pago {
        height: 17%;
    }

    .items-medio-de-pago {
        width: 15vh;
        height: 100%;
    }

    .contenedor-carrousel-medio-de-pago .flecha {
        width: 10%;
    }

    @media screen and (max-width: 768px) {
        .header {
            width: 100%;
            justify-content: center;
            gap: 1.5rem;
            flex-direction: column;
            padding-bottom: 3%;

        }

        .header .contenedor_carrito,
        .header form,
        .ocultar {
            display: none;
        }

        .nav-bar {
            font-size: 70%;
        }

        .header .logo-container,
        .header .contenedor_carrito_btn {
            display: flex;
        }


        .header .logo-container {
            width: 35%;
            justify-content: center;
        }

        .header .logo-container img {
            width: 100%;
        }



        .header .contenedor_carrito_btn .btn-header {
            padding: 4px 8px;
            font-size: 74%;
        }

        .main {
            width: 100%;
        }

        .main .section-main-tutorial {
            display: flex;
            flex-direction: column;
        }

        .main .elementos-del-tutorial {
            display: flex;
            width: 50%;
            justify-content: center;
        }

        .elementos-del-tutorial .div-texto-tutorial {
            display: flex;
            flex-direction: column;

        }

        .elementos-del-tutorial .div-texto-tutorial .tutorial-titulo {
            font-weight: bold;
            font-size: 70%;
        }

        .elementos-del-tutorial .div-texto-tutorial .tutorial-subtitulo {
            font-size: 70%;
        }

        .tutorial-descripcion p,
        .tutorial-descripcion .titulo {
            font-size: 70%;
        }

        .tutorial-descripcion .titulo {
            font-weight: bold;
        }

        .div-tutorial {
            width: 100%;
            height: 20%;
            gap: 5%;
            justify-content: center;
        }

        .div-tutorial .div-imagen {
            width: 30%;
            height: 20%;
        }

        .section-main-cursos-destacados {
            width: 100%;
            gap: 2.3rem;
        }

        .div-titulo-oferta-cursos {
            font-size: 125%;
        }

        .article-cursos-destacados {
            flex-direction: column;
            width: 40vh;
        }

        .article-cursos-destacados .div-curso-destacado {
            align-self: center;
            width: 40vh;
        }

        .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado .imagen-curso-destacado {
            height: 80%;
        }

        .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado .contenedor_boton .btn-header {
            font-size: 70%;
            text-wrap: nowrap;
            padding: 2px 4px;
            font-weight: 500;
        }

        .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado div {
            font-size: 70%;
        }

        .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado div .titulo-curso {
            font-size: 100%;
        }

        .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado .particion-datos-curso {
            font-size: 70%;
        }

        .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado .particion-datos-curso .primer-particion {
            display: flex;
            gap: 30%;
            width: 50%;
        }

        .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado .particion-datos-curso .primer-particion p {
            font-size: 70%;
        }

        .section-medios-de-pago {
            gap: 2%;
            padding-top: 0%;
        }

        .article-titulo-medio-de-pago {
            height: 15%;
            justify-content: center;
            width: 100%;
        }

        .article-titulo-medio-de-pago .titulo-medio-de-pago {
            font-size: 130%;
        }

        .contenedor-carrousel-medio-de-pago {
            height: 17%;
        }

        .items-medio-de-pago {
            width: 15vh;
            height: 100%;
        }

        .contenedor-carrousel-medio-de-pago .flecha {
            width: 10%;
        }


    }

    /* */
}

/* HASTA ACA NUEVAS CLASES */

.elementos-del-tutorial {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.elementos-del-tutorial .div-texto-tutorial {
    width: 50%;
}

.article-tutorial {
    flex-direction: column;
    align-items: center;
}


.tutorial-titulo {
    font-size: 3.5rem;
    font-weight: bold;
}

.tutorial-subtitulo {
    font-size: 2rem;
    color: var(--azul);
    font-weight: bold;
}

.div-tutorial {
    display: flex;
    height: 12rem;
    width: 55%;
    gap: 5%;
}

.div-tutorial .div-imagen {
    display: flex;
    justify-content: center;
    height: 4rem;
    align-self: center;
}

.tutorial-descripcion {
    align-self: center;
}

.tutorial-descripcion .titulo {
    font-size: 2rem;
}

.vinculo-div-tutorial {
    display: inline-flex;
    text-decoration: underline;
    color: #0f787f;
}

/* CURSOS DESTACADOS */

.div-titulo-oferta-cursos {
    display: flex;
    font-size: 2.2rem;
    font-weight: bold;
    padding-top: 8%;
}

.section-main-cursos-destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    align-self: center;
    width: 100%;
    height: 100vh;
}

.article-cursos-destacados {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 12rem;
    gap: 5%;
}

.div-curso-destacado {
    display: flex;
    background-color: #f0f0f0;
    border-radius: 2rem;
    width: 30%;
    gap: 5%;

}

.titulo-curso {
    color: #0f787f;
    font-size: x-large;
    font-weight: bold;
}

.bloque-curso-destacado {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 55%;
}

.particion-datos-curso {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
}

.segunda-particion {
    padding-right: 10%;
}

.contenedor_boton {
    position: absolute;
    bottom: 6%;
    transform: translate(-50%);
    left: 48%;
}

.imagen-curso-destacado {
    align-self: center;
    width: 90%;
    border-radius: 2rem;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/*MEDIOS DE PAGO*/

.section-medios-de-pago {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 10%;
    padding-top: 5%;
    align-self: center;
}

.article-titulo-medio-de-pago {
    display: flex;
    height: 30%;
    align-items: center;
}

.titulo-medio-de-pago {
    font-weight: bold;
    font-size: xx-large;
}

.contenedor-carrousel-medio-de-pago {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    gap: 4%;
}

.items-medio-de-pago {
    display: flex;
    align-items: center;
    width: 12%;
    height: 80%;
    border-radius: 2rem;
    justify-content: center;
    background-color: #f0f0f0;
}

.img-MdPago {
    width: 90%;

}

.flecha {
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
}

.contenedor-carrousel-medio-de-pago .izquierda {
    justify-content: flex-end;
}

.contenedor-carrousel-medio-de-pago .derecha {
    justify-content: flex-start;
}

.img-flecha-carrousel-MdPago {
    width: 50%;
}

.img-flecha-carrousel-MdPago {
    width: 50%;
}

/*ESTILO PROXIMAS FECHAS/CALENDARIO*/

.main_proximas_fechas {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main_proximas_fechas div {
    align-content: center;
}

.img-flecha {
    height: 15%;
}

.section_contenedor {
    padding: 5%;
    height: 40rem;
    width: 70rem;
}

.section_principal {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.columna_fecha {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15%;
    justify-content: start;
    text-align: center;
    gap: 3%;
}

.columna_fecha .contenedor_fecha {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    background-color: rgba(15, 120, 127, 0.5);
    border-radius: 1rem;
}

.columna_fecha .contenedor_fecha .contenedor_curso {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    justify-content: center
}

.columna_fecha .dia {
    font-weight: bold;
}

.contenedor_fecha .numero_fecha {
    font-size: medium;
    padding-top: 2%;

}

.contenedor_curso a {

    text-align: center;
    border-radius: 1rem;
    font-size: 85%;
    font-weight: bold;
    background-size: auto;
    width: inherit;
}

.mostrar_en_movil {
    display: none
}


@media screen and (max-width: 768px) {
    .main_proximas_fechas {
        width: 100%;
        height: auto;
    }

    .ocultar-en-movil {
        display: none;
    }

    .main_proximas_fechas .section_contenedor {
        height: 30rem;
        position: relative;
    }


    .mostrar_en_movil {
        display: block;
        position: absolute;
        text-align: center;
        top: 8%;
        font-weight: 600;
        border-radius: 2rem;
        padding: 1%;
        border: 0.5px solid #ffcc00;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mostrar_en_movil .flecha-mes {
        color: #0F787f;
    }

    .main_proximas_fechas .section_contenedor .section_principal .columna_fecha {
        width: 19%;
        justify-content: center;
    }


    .columna_fecha .dia {
        font-size: 70%;
        overflow: hidden;
    }

    .columna_fecha .contenedor_fecha,
    .columna_fecha .numero_fecha,
    .columna_fecha .contenedor_curso {
        font-size: 70%;
        height: 15%;
    }


    .contenedor_fecha .contenedor_curso {
        overflow: hidden;
        text-wrap: nowrap;
    }

}



@media screen and (max-width: 575px) {
    .header {
        width: 100%;
    }

    .header .contenedor_carrito,
    .header form,
    .ocultar {
        display: none;
    }

    .header .logo-container,
    .header .contenedor_carrito_btn {
        display: flex;
    }



    .header .logo-container {
        width: 35%;
    }

    .header .logo-container img {
        width: 100%;
    }

    .header .contenedor_carrito_btn {
        justify-content: flex-end;
        width: 38%;
    }

    .header .contenedor_carrito_btn .btn-header {
        padding: 4px 8px;
        font-size: 74%;
    }

    .main {
        width: 100%;
    }

    .main .section-main-tutorial {
        display: flex;
        flex-direction: column;
    }

    .main .elementos-del-tutorial {
        display: flex;
        width: 50%;
        justify-content: normal;
    }

    .elementos-del-tutorial .div-texto-tutorial {
        display: flex;
        flex-direction: column;
        padding-top: 20%;
        margin: auto;
        align-items: center;
    }

    .elementos-del-tutorial .div-texto-tutorial .tutorial-titulo {
        font-weight: bold;
        font-size: 70%;
    }

    .elementos-del-tutorial .div-texto-tutorial .tutorial-subtitulo {
        font-size: 70%;
    }

    .tutorial-descripcion p,
    .tutorial-descripcion .titulo {
        font-size: 70%;
    }

    .tutorial-descripcion .titulo {
        font-weight: bold;
    }

    .div-tutorial {
        width: 100%;
        height: 20%;
        gap: 0%;
    }

    .div-tutorial .div-imagen {
        width: 30%;
        height: 20%;
    }

    .section-main-cursos-destacados {
        width: 100%;
        gap: 2.3rem;
    }

    .div-titulo-oferta-cursos {
        font-size: 125%;
    }

    .article-cursos-destacados {
        flex-direction: column;
        width: 40vh;
    }

    .article-cursos-destacados .div-curso-destacado {
        align-self: center;
        width: 40vh;
    }

    .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado .imagen-curso-destacado {
        height: 80%;
    }

    .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado .contenedor_boton .btn-header {
        font-size: 70%;
        text-wrap: nowrap;
        padding: 2px 4px;
        font-weight: 500;
    }

    .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado div {
        font-size: 70%;
    }

    .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado div .titulo-curso {
        font-size: 100%;
    }

    .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado .particion-datos-curso {
        font-size: 70%;
    }

    .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado .particion-datos-curso .primer-particion {
        display: flex;
        gap: 30%;
        width: 50%;
    }

    .article-cursos-destacados .div-curso-destacado .bloque-curso-destacado .particion-datos-curso .primer-particion p {
        font-size: 70%;
    }

    .section-medios-de-pago {
        gap: 2%;
        padding-top: 0%;
    }

    .article-titulo-medio-de-pago {
        height: 15%;
        justify-content: center;
        width: 100%;
    }

    .article-titulo-medio-de-pago .titulo-medio-de-pago {
        font-size: 130%;
    }

    .contenedor-carrousel-medio-de-pago {
        height: 17%;
    }

    .items-medio-de-pago {
        width: 15vh;
        height: 100%;
    }

    .contenedor-carrousel-medio-de-pago .flecha {
        width: 10%;
    }


}


/* FORMULARIOS */
.Formulario,
.Formulario-registro {
    display: flex;
    justify-content: center;
    align-items: center;

}

.formulario-cuenta {
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;

}

/* BOTONES */
.btn {
    color: #fff;
    border-radius: 2em;
    padding: 4px 1em;
    border: none;
    max-width: 70%;
    text-decoration: none;
}

.btn-azul {
    background-color: var(--azul);
    font-size: 1.2em;
}

.btn-azul:hover {
    cursor: pointer;
    background-color: var(--amarillo);
}

.btn-formulario-cuenta {
    display: flex;
    justify-content: center;
    margin: 1em auto;
}

/* CAMPOS FORMULARIOS */
.label-formulario-cuenta {
    color: var(--azul);
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

.input-formulario {
    border: 1px solid var(--amarillo);
    border-radius: 1em;
    padding: 0.6em;
    height: 2.2em;
    width: 100%;
    margin-bottom: 1em;
    min-width: 18em;
    font-size: 1em;
    color: var(--grisIntermedio);
}

.input-formulario::placeholder {
    color: var(--grisIntermedio);
}

.input-formulario:focus {
    border-color: var(--azul);
    outline: none;
}


@media (max-width: 400px) {

    .Formulario,
    .Formulario-registro {

        padding: 1.5em 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .formulario-cuenta {
        width: 80%;
        padding: 0 1em;
    }

    .btn {
        max-width: 100%;
        padding: 12px;
    }

    .label-formulario-cuenta {
        font-size: 1em;
    }

    .input-formulario {
        font-size: 0.9em;
    }
}

/* Teléfonos pequeños (menos de 600px) */
@media (max-width: 600px) {

    .Formulario,
    .Formulario-registro {

        padding: 2em 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .formulario-cuenta {
        width: 95%;
    }

    .btn {
        max-width: 100%;
        padding: 10px;
    }
}

/* Tablets (entre 600px y 900px) */
@media (min-width: 600px) and (max-width: 900px) {
    .formulario-cuenta {
        max-width: 600px;
    }

    .btn {
        max-width: 80%;
    }
}

/* Notebook y Computadora (más de 900px) */
@media (min-width: 900px) {
    .formulario-cuenta {
        max-width: 700px;
    }

    .btn {
        max-width: 70%;
    }
}



/* TEXTOS Y TITULOS */
h1,
h2,
h3 {
    color: var(--azul);
}

.tituloPrincipal-formularios {
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    margin-bottom: 0.5em;
}

.informacion-contacto {
    font-weight: 400;
    margin-bottom: 1.5em;
}

.parrafo-enlaceRecuperacion {
    text-align: center;
    color: var(--grisOscuro);
    margin: -1em 0 2em;
    width: 20%;
    min-width: 22em;
}

/* ENLACES */
#texto-Olvido-De-Contraseña a {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: var(--azul);
    font-weight: 500;
    text-align: center;
}

#texto-Registro,
#texto-InicioSesion {
    display: flex;
}

#texto-Registro a,
#texto-InicioSesion a {
    color: var(--azul);
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9em;
}

#texto-Olvido-De-Contraseña a:hover,
#texto-Registro a:hover,
#texto-InicioSesion a:hover {
    text-decoration: underline;
}

/* CONTACTO */
.contenedor-contacto {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.seccion-contacto,
.seccion-info {
    width: 50%;
    display: flex;
    justify-content: center;
}

.seccion-contacto {
    min-width: 400px;
    min-height: 90vh;
    align-items: center;
}

.seccion-info {
    min-width: 400px;
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    margin-bottom: 2em;
}

.formulario-contacto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 320px;
    width: 100%;
}

.contenedor-boton-contacto {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.ubicacion {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

.whatsapp {
    display: flex;
    margin-bottom: 2em;
}

.imagen-whatsapp {
    max-width: 8%;
}

.telefono-contacto {
    font-weight: bold;
    color: #1ba553;
    font-size: 1.4em;
}

.btn-formulario-contacto {
    width: 10%;
    margin-top: 2em;
    display: inline-block;
    white-space: nowrap;
    min-width: 10rem;
}



/*ESTILO PROXIMAS FECHAS/CALENDARIO*/

.main_proximas_fechas {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main_proximas_fechas div {
    align-content: center;
}

.img-flecha {
    height: 15%;
}

.section_contenedor {
    padding: 5%;
    height: 40rem;
    width: 70rem;
}

.section_principal {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.columna_fecha {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15%;
    justify-content: start;
    text-align: center;
    gap: 3%;
}

.columna_fecha .contenedor_fecha {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    background-color: rgba(15, 120, 127, 0.5);
    border-radius: 1rem;
}

.columna_fecha .contenedor_fecha .contenedor_curso {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    justify-content: center
}

.columna_fecha .dia {
    font-weight: bold;
}

.contenedor_fecha .numero_fecha {
    font-size: medium;
    padding-top: 2%;

}

.contenedor_curso a {

    text-align: center;
    border-radius: 1rem;
    font-size: 85%;
    font-weight: bold;
    background-size: auto;
    width: inherit;
    color: var(--azul);
    border: 0.5px solid black;
}

.mostrar_en_movil {
    display: none
}

/* UTILIZO EL OCULTAR EN MOVIL PARA ALGUNOS ELEMENTOS DE MI CALENDARIO, RECORDAR QUE ESE CODIGO ESTA EN EL MEDIA QUERIES DEL HEADER&FOOTER */



@media screen and (max-width: 768px) {
    .main_proximas_fechas {
        width: 100%;
        height: auto;
        padding: 10%;
    }

    .ocultar-en-movil {
        display: none;
    }

    .main_proximas_fechas .section_contenedor {
        height: 30rem;
        position: relative;
    }

    /*.main_proximas_fechas .img-flecha {
        position: absolute;
        height: 4%;
        top: 14.5%;
        left: 30%;
    }

    .main_proximas_fechas .flecha-derecha {
        left: 69.5%;
        top:14.5%;
    }*/

    .mostrar_en_movil {
        display: block;
        position: absolute;
        text-align: center;
        top: 8%;
        font-weight: 600;
        border-radius: 2rem;
        padding: 1%;
        border: 0.5px solid #ffcc00;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mostrar_en_movil .flecha-mes {
        color: #0F787f;
    }

    /* REVISAR EL WIDTH PORQUE ESTOY OCULTANDO LAS COLUMNAS DEL SABADO Y DOMINGO */

    .main_proximas_fechas .section_contenedor .section_principal .columna_fecha {
        width: 19%;
        justify-content: center;
    }

    /* REVISAR SI EL 70% LO PUEDO PONER TODO EN UN CONTENEDOR DE CSS */

    .columna_fecha .dia {
        font-size: 70%;
        overflow: hidden;
    }

    .columna_fecha .contenedor_fecha,
    .columna_fecha .numero_fecha,
    .columna_fecha .contenedor_curso {
        font-size: 70%;
        height: 15%;
    }


    .contenedor_fecha .contenedor_curso {
        overflow: hidden;
        text-wrap: nowrap;
    }

}

/* DETALLE CURSO */

.volver {
    text-decoration: none;
    font-size: 18px;
    color: var(--amarillo);
    margin: 20px;
    display: inline-block;
}

@media (max-width: 768px) {
    .volver {
        font-size: 16px;
        margin: 10px 5%;
    }
}

/* Detalle del curso */
.course-details {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    justify-content: center;
}

.course-image img {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

.course-info {
    margin-left: 20px;
    max-width: 90%;
    text-align: center;
}

.course-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.course-info p {
    margin: 5px 0;
}

.inscribirse {
    padding: 10px 20px;
    background-color: var(--azul);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.inscribirse:hover {
    background-color: var(--amarillo);
}

@media (max-width: 768px) {
    .course-details {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .course-image img {
        width: 80%;
    }

    .course-info {
        margin-left: 0;
    }
}

/* Contenidos por clase e Instructor */
.content-instructor {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.class-contents {
    width: 50%;
}


details {
    background-color: #e6f7f7;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

details[open] summary {
    font-weight: bold;
    color: #00796b;
}

details summary {
    font-size: 18px;
}

details li {
    margin: 10px 0;
    padding-left: 20px;
}

/* Instructor */
.instructor-info {
    text-align: center;
    width: 40%;
}

.instructor-info img {
    width: 25%;
    height: auto;
    border-radius: 50%;
}

.instructor-info h3 {
    font-size: 18px;
    margin-top: 10px;
}

.instructor-info span {
    font-size: 16px;
    color: #f1c40f;
}

@media (max-width: 768px) {

    .class-contents,
    .instructor-info {
        width: 100%;
        max-width: 600px;
        margin: 10px 0;
    }

    .instructor-info img {
        width: 60%;
        max-width: 200px;
        margin: 0 auto;
    }
}

.imagen-curso-destacado-detalle {
    align-self: center;
    width: 70%;
    /* Ajusta el ancho de la imagen dentro de la tarjeta */
    border-radius: 1rem;
    object-fit: contain;
}

.div-titulo-oferta-cursos-detalle {
    display: flex;
    font-size: 2.2rem;
    font-weight: bold;
    padding-top: 8%;
}

.section-main-cursos-destacados-detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    align-self: center;
    width: 100%;
}

.article-cursos-destacados-detalle {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5%;
    /* Ajusta el espacio entre los artículos */
    padding: 2rem 0;
    /* Añadido espacio superior e inferior */
}

.div-curso-destacado-detalle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 2rem;
    width: 30%;
    padding: 2rem;
    /* Añade espacio interno */
    min-height: 20rem;
    /* Altura mínima para que las tarjetas no queden muy pequeñas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Añadido sombra para dar un efecto de elevación */
}

.titulo-curso-detalle {
    color: #0f787f;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.bloque-curso-destacado-detalle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100%;
    /* Asegura que ocupe toda la altura disponible */
}

.particion-datos-curso-detalle {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
}

.segunda-particion-detalle {
    padding-right: 10%;
}

/* Cambia el contenedor del botón a flex para centrarlo */
.contenedor_boton-detalle {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    /* Añade espacio para separar el botón del contenido */
}

.btn_detalle {
    background-color: var(--azul);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.btn_detalle:hover {
    background-color: var(--amarillo);
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .div-curso-destacado-detalle {
        width: 90%;
        /* Expande los cursos en pantallas más pequeñas */
    }

    .article-cursos-destacados-detalle {
        flex-direction: column;
        /* Coloca los cursos en columna en pantallas pequeñas */
        gap: 2rem;
        /* Ajusta el espacio entre los cursos */
    }
}



/*¨Formulareio para empresas*/
.cuerpo-formulario-inscripcion {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.formulario-inscripcion {
    height: fit-content;
    max-width: 100%;
    padding: 1em;
    background-color: #ffffffd8;
    border-radius: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-inscripcion h2 {
    font-size: 1.5em;
    margin-bottom: 1em;

}

.formulario-inscripcion h1 {
    color: var(--azul);
}

.grupo-campos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 1em;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grupo-campos .input-descripcion {
    padding: 0.5em;
    font-size: 1em;
    border: 2px solid #FFcc00;
    border-radius: 30px;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
}

.grupo-campos input:focus {
    border-color: var(--azul);
}

.boton-agregar {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
    color: var(--negro);
    margin-bottom: 1.5em;
}

.boton-agregar span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 1.5em;
}

.precio {
    font-size: 1em;
    background-color: black;
    color: white;
    padding: 1em;
    display: inline-block;
    border-radius: 5px;

}

.titulo-inscripcion {
    font-weight: 400;
}

.boton-inscribirse {
    background-color: var(--azul);
    color: var(--amarillo);
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-inscribirse:hover {
    background-color: var(--azul);
}

/*giftcard*/

.contenedor_principal_giftcard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    padding: 1.5em;
}

.contenedor-giftcard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;

}

.giftcard {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.25em;
    background-image: url('../images/circuitos.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 80%;

    height: 100%;
    max-height: 35em;
    border-radius: 2em;
    border: 2px solid #000;
    position: relative;
}

.a-logo {
    color: var(--azul);
    font-size: 30px;

    -webkit-text-stroke: -2px white;
}

.prender-logo {
    color: var(--blanco);
    font-size: 30px;

    -webkit-text-stroke: -2px white;
}

.giftcard img {
    width: 6em;
    height: 2em;

}

.monto {
    background-color: var(--azul);
    color: var(--blanco);
    padding: 0.6em;
    border-radius: 3em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 1.5em;
    width: 4em;

    /*arriba-derecha*/
    top: 1em;
    right: 1em;

    /*abajo-izquierda
    bottom: 1em;
    left: 1em;
   */
    /*arriba-izquierda
     top: 1em;
    left: 1em;
   */
}

.grupo-opciones input {
    width: 4em;
}

.codigo_QR img {
    width: 10em;
    height: 10em;
    margin: 1em auto 0;
    display: block;

}

.giftcard p {
    color: var(--amarillo);
    /*
   color:red;
   color: green;
   color:blue;
   color: white;
   color: var(--negro);
   font-size: 20px;
   font-size: 32px;
   font-size: 48px;
   font-size: 60px;
    */
    font-size: 28px;
}

.personalizacion_contenedor {
    background-color: #e3f2fd;
    border-radius: 0.6em;
    padding: 1.2em;
    margin-top: 1em;
    width: 90%;
}


.personalizacion_contenedor h3 {
    margin-bottom: 1.2em;
    color: var(--azul);
}

.personalizacion_contenedor input {
    padding: 0.6em;
    margin-bottom: 1em;
    border: 1px solid var(--amarillo);
    border-radius: 2em;
    width: 80%;

}

.botones_azules {

    font-size: 1.2em;
    padding: 10px 20px;
    background-color: var(--azul);
    color: white;
    border-radius: 5em;
    transition: background-color 0.3s ease;


}


.botones_azules:hover {
    background-color: var(--amarillo);
    transition: background-color 0.3s ease;

}

.giftcard h2 {
    margin-top: 40px;
    font-size: 24px;
    color: var(--blanco);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
}

.personalizacion_contenedor p {
    font-size: 18px;
    color: var(--azul);
    margin: 10px 0;
}

.circulo {
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: 0.1em solid black;
    display: inline-block;
    cursor: pointer;
    margin-left: 0.5em;

}

.grupo-items input {
    width: 1.5em;
    height: 1.5em;
}

.grupo-opciones {
    display: flex;
    gap: 2%;
    margin-bottom: 1em;

}

.label_opciones-pixeles {
    margin: 0.5em;
}

.grupo-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    width: auto;
    text-align: center;
}

.grupo-items img {
    width: 2em;
    height: 3em;
    margin-bottom: 0.5em;
}

.rectangulo-posiciones {
    width: 3em;
    height: 2em;
    border: 1px var(--negro)solid;
    position: relative;
    margin-bottom: 0.5em;

}

.posicion_arriba-izquierda {
    width: 1em;
    height: 0.3em;
    border: 1px var(--negro)solid;
    background-color: var(--negro);
    position: absolute;
    top: 0.2em;
    left: 0.2em;
}

.posicion_arriba-derecha {
    width: 1em;
    height: 0.3em;
    border: 1px var(--negro)solid;
    background-color: var(--negro);
    position: absolute;
    top: 0.2em;
    right: 0.2em;
}

.posicion_abajo-izquierda {
    width: 1em;
    height: 0.3em;
    border: 1px var(--negro)solid;
    background-color: var(--negro);
    position: absolute;
    bottom: 0.2em;
    left: 0.2em;
}


.rojo {
    background-color: red;
}

.azul {
    background-color: blue;
}

.verde {
    background-color: green;
}

.amarillo {
    background-color: yellow;
}

.blanco {
    background-color: white;
}

.negro {
    background-color: black;
}

.grupo-colores input[type="radio"] {
    display: none;
}

.grupo-colores input[type="radio"]:checked+.circulo {
    border: 0.2em solid #00b29e;
    gap: 5em;
}


/*footer pantalla grande*/

footer {
    background-color: var(--negro);
}

.contenedor_columnas_footer {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto auto;

    gap: 1px;
    padding: 2em 1em 7em 5em;
    padding-bottom: 2em;
    line-height: 1.5em;
}

.contenedor_columnas_footer h2 {
    color: var(--azul);
    padding-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.fila2-footer {
    grid-column: 1 / 4;
    background-color: var(--blanco);
    padding: 0.5em;
    text-align: right;
    font-size: small;
}

.contenedor_columnas_footer ul li,
a {
    transition: var(--azul);
}

.columna-footer a,
ul li {
    color: var(--amarillo);
    text-align: left;
    transition: color 0.3s ease, transform 0.3s ease;

}

.columna-footer ul li a:hover {
    color: var(--azul);
    transform: scale(1.1);
}

.columna-footer p {
    color: grey;
    padding-top: 5em;
}

/*--------------------------------------------*/

/*footer responsivo*/

.footer {
    background-color: var(--negro);
    padding: 1em;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

.desplegable-boton_footer {
    font-size: 1em;
    padding: 0.8em;
}

.social-icons img {
    width: 20px;
    height: 20px;
}

.desplegable-contenido_footer ul li,
a {
    color: var(--blanco);
    display: flex;
    justify-content: left;
    transition: font-size 0.3s ease-in-out;
    font-weight: bold;
}

.contenedor-desplegable_footer h2 {
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: var(--amarillo);

}

.contenedor-desplegable_footer {
    padding: 1em;
}

.contenedor-desplegable_footer h2 {
    padding: 0;
    margin: 0;
    color: var(--amarillo);

}

.desplegable-item_footer {
    margin-bottom: 0.3em;
    width: 100%;

}

.desplegable-boton_footer {
    background-color: var(--negro);
    color: var(--azul);
    cursor: pointer;
    padding: 0.4em;
    border: none;
    text-align: left;
    font-size: 1.2em;
    border: 1px solid;
    transition: background-color 0.3s ease;
    display: block;

}

.desplegable-boton_footer a:hover {
    background-color: var(--azul);
}

.desplegable-boton_footer:hover {
    background-color: var(--amarillo);
}


.desplegable-contenido_footer ul li,
a {
    color: var(--blanco);
    display: flex;
    justify-content: left;
    transition: font-size 0.3s ease-in-out;

}

.desplegable-contenido_footer a:hover {
    color: var(--negro);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;

}

.desplegable-contenido_footer a:hover {
    display: inline-block;
    text-align: left;
    width: 100%;
    background-color: var(--amarillo);
}

.desplegable-contenido_footer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: var(--negro);
    padding: 0 1em;
}

.desplegable-contenido_footer ul {
    list-style: none;
    padding: 0;

}

.desplegable-contenido_footer li {
    padding: 0.2em 0;
    color: var(--blanco);
    background-color: var(--negro);

}

.desplegable-checkbox_footer {
    display: none;
}

.desplegable-checkbox_footer:checked+.desplegable-boton_footer+.desplegable-contenido_footer {
    max-height: 10em;
}

.social-icons a {
    margin: 0 7px;
    display: inline-block;
}

.social-icons img {

    width: 25px;
    height: 25px;
}

.footer p {
    text-align: left;
    padding-top: 2em;
    color: var(--grisIntermedio);
    font-size: 10px;
}

/*confirmacion de compra giftcard*/

.contenedor-principal-confirmacion-GiftCard {
    height: 100vh;

}

.contenedor-compra {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 75em;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.contenedor-pago {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 75em;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.titulo-giftcard {
    padding-top: 0.4;
    padding-bottom: 0.4em;
    font-size: 28px;
}

.destinatario-giftcard,
.monto-giftcard,
.email-giftcard {
    font-size: 18px;
    margin: 10px 0;
    padding-top: 1em;
}

.seccion-detalles {

    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 1em;
    text-align: left;
}

.seccion-detalles h2 {
    color: var(--azul);
}

.detalles {
    padding-bottom: 1em;
    padding-top: 1em;
}

.detalles-tarjeta h3 {
    color: var(--azul);
}

.medios-pago {
    margin-bottom: 1em;
}

.opciones-pago {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1em;
}


.opcion-pago input[type="radio"] {
    display: none;
}

.opcion-pago img {
    width: 60px;
    height: auto;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border 0.3s ease;
}

.opcion-pago input[type="radio"]:checked+img {
    border: 2px solid #b31212;
}

.detalles-tarjeta {
    background-color: #e9e9e9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.detalles-tarjeta label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.detalles-tarjeta input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.descuento {
    background-color: #fffae6;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.descuento strong {
    color: #d18d02;
}

.resumen-pago {
    text-align: center;
}

.boton-pagar {
    background-color: var(--azul);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1em;
}

.boton-pagar:hover {
    background-color: var(--amarillo);
}

/*  MEDIA QUERIES*/

/*confimación*/
@media (max-width: 768px) {
    .contenedor-compra {
        flex-direction: column;

    }

    .opciones-pago {
        justify-content: space-between;
    }

    .boton-pagar {
        width: 100%;
    }

    .contenedor-compra {
        grid-template-columns: 1fr;
        grid-template-areas: "contenedor-giftcard" "seccion-detalles";
    }
}

@media screen and (max-width: 1024px) {
    .contenedor-compra {
        padding: 5em;
    }
}

/* Footer responsivo */
@media screen and (min-width: 769px) {

    .footer {
        display: none;
    }

}

/*inscripcion y inicio sesion logo responsivo*/

@media (max-width: 580px) {
    .grupo-campos:nth-of-type(2) {
        display: none;
    }

    .usuario_icon {
        padding-right: 38%;

    }
}

@media screen and (max-width: 768px) {


    .grupo-campos:nth-of-type(3) {
        display: none;
        padding-bottom: 3em;
    }

    .precio {
        margin: 2em;

    }

    .grupo-campos {
        display: grid;
        grid-template-columns: max-content;
        margin-bottom: 1em;
    }

    .grupo-campos input {
        padding: 10px;
        font-size: 1em;
        border: 2px solid #FFcc00;
        border-radius: 30px;
        outline: none;
        transition: border-color 0.3s ease;
    }

    /*giftcard*/
    .contenedor_principal_giftcard {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        justify-items: center;
        padding: 0;
        width: 99%;
    }

    .contenedor-giftcard,
    .personalizacion_contenedor {
        width: 75%;
    }

    .giftcard,
    .personalizacion_contenedor {
        max-width: 70%;
        max-height: auto;
        justify-items: center;
        margin-bottom: 1em;
    }

    .codigo_QR img {
        width: 80%;
        height: 70%;
        margin: 1em auto 0;
        display: block;

    }

    .monto {
        background-color: var(--azul);
        color: var(--blanco);
        padding: 0.6em;
        border-radius: 3em;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-size: 0.78em;
        width: 30%;

        /*arriba-derecha*/
        top: 1em;
        right: 1em;
    }

    .giftcard h2 {
        font-size: 1em;
    }

    .a-logo {
        font-size: 1em;
    }

    .prender-logo {
        font-size: 1em;
    }

    .giftcard p {
        font-size: 1em;
    }

    .contenedor_columnas_footer {
        display: none;
    }

    .fila2-footer {
        display: none;
    }



}

/*ESTILO PARA CARRITO DE COMPRAS*/

.section_principal_carrito,
.article_cursos_carrito,
.article_cursos_precio_total,
.div_curso_carrito,
.div_contenedor_texto_curso,
.div_curso_carrito {
    display: flex;
}

.section_principal_carrito {
    margin-top: 10%;
    margin-bottom: 15%;
    justify-content: space-around;
}

.article_cursos_carrito,
.article_cursos_precio_total,
.div_contenedor_texto_curso {
    flex-direction: column;
}

.article_cursos_carrito,
.article_cursos_precio_total {

    padding: 0.5rem;
}

.article_cursos_carrito {
    width: 75%;
}

.article_cursos_precio_total {
    width: 15%;
    border-radius: 2rem;
    border: 0.5px solid var(--amarillo);
}

.section_principal_carrito .article_cursos_precio_total .div_precio_total_carrito {
    font-weight: bold;
    font-size: x-large;
}

.div_total_carrito,
.div_precio_total_carrito {
    flex: 1;
}

.boton_pagar_carrito {
    flex: 2;
}

.section_principal_carrito .article_cursos_precio_total .boton_pagar_carrito {
    align-self: center;
    align-content: center;
}

.article_cursos_carrito {
    gap: 2rem;
}

.titulo_carrito {
    align-self: flex-start;
    font-weight: bold;
    font-size: larger;
}

.article_cursos_carrito .div_curso_carrito {
    gap: 0.5rem;
    border-bottom: 0.5px solid grey;
}

.article_cursos_carrito .div_curso_carrito .div_contenedor_imagen {
    width: 20%;
    padding: 0.2rem;
}

.article_cursos_carrito .div_curso_carrito .div_contenedor_imagen img {
    width: 100%;
    height: auto;
}

.article_cursos_carrito .div_contenedor_texto_curso {
    width: 80%;
    gap:0.2rem;
}

.article_cursos_carrito .div_contenedor_texto_curso .titulo_curso,
.precio_curso {
    font-weight: bold;
}


@media screen and (max-width: 768px) {
    .section_principal_carrito {
        flex-direction: column;
    }

    .section_principal_carrito,
    .article_cursos_carrito,
    .div_curso_carrito {
        gap: 1rem;
        align-items: center;
        width: 100%;
    }

    .section_principal_carrito,
    .article_cursos_carrito,
    .article_cursos_precio_total {
        width: 100%;
    }
}

/*Pago exitoso-página*/
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.modal-contenido {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* CLASES AGREGADAS POR NICO */
.contenedor-carrito-oferta-cursos {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: 5%;
    right: 5%;
}

.img-carrito-cursos {
    width: 100%;
    height: auto;
}

.contenedor-carrito-oferta-cursos:hover {
    border: 1.5px solid var(--amarillo);
    border-radius: 2rem;
}

.js-contenedor-lista-carrito {
    display: none
}

.js-contenedor-lista-carrito:hover {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-around;
}

.div-curso {
    position: relative;
}

/* PARA EL CARROUSEL */

.transicion {
    opacity: 0;
}

.selector {
    position: absolute;
    left: 50%;
    top: 90%;
    text-align: center;
    z-index: 2;
}

.selector button {
    border-radius: 2rem;
    width: 0.6rem;
    height: 0.6rem;
    cursor: pointer;
}

/*PARA EL CARRITO */

/* Estilo general para el contenedor del carrito */
.contenedor_carrito_btn {
    position: relative;
    /* Necesario para el posicionamiento del sidebar */
    z-index: 1000;
}

/* Estilo para la lista del carrito */
.carrito-lista {
    display: none; /* Inicialmente visible */
    position: absolute; /* Cambiado a absolute */
    top: 102%; /* Se posiciona justo debajo del contenedor */
    left: 0; /* Alineado a la izquierda */
    background-color: white; /* Fondo blanco */
    border: 1px solid #ccc; /* Borde gris */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para un efecto de elevación */
    z-index: 2000; /* Asegurarse de que esté por encima de otros elementos */
    width: 250px; /* Ancho del sidebar */
    padding: 10px; /* Espaciado interno */
    max-height: 25vh; /* Altura máxima para permitir el scroll */
    overflow-y: auto; /* Habilita el scroll vertical */
    transition: display 0.3s ease; /* Transición suave */
}

/* Estilo del scrollbar para Webkit (Chrome, Safari) */
.carrito-lista::-webkit-scrollbar {
    width: 10px; /* Ancho del scrollbar */
}

.carrito-lista::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del track */
    border-radius: 10px; /* Bordes redondeados del track */
}

.carrito-lista::-webkit-scrollbar-thumb {
    background: #888; /* Color del thumb (parte que se mueve) */
    border-radius: 10px; /* Bordes redondeados del thumb */
}

.carrito-lista::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del thumb cuando se pasa el ratón por encima */
}

/* Estilo del scrollbar para Firefox */
.carrito-lista {
    scrollbar-width: thin; /* Puede ser auto, thin, o none */
    scrollbar-color: #888 #f1f1f1; /* Color del thumb y del track */
}

.carrito-precio-curso,
.carrito-duracion-curso,
.carrito-modalidad-curso {
    color: black;
}

/* Mostrar la lista del carrito al pasar el mouse */
.contenedor_carrito_btn:hover .carrito-lista {
    display: block;
    /* Muestra la lista al pasar el mouse */
}

/* Estilo para los elementos de la lista */
.carrito-elemento-lista {
    display:flex;
    flex-direction: column;
    /* Espaciado entre elementos */
}

/* Estilo para el texto dentro de los elementos de la lista */
.carrito-nombre-curso,
.carrito-precio-curso,
.carrito-duracion-curso,
.carrito-modalidad-curso {
    margin: 0;
    /* Elimina márgenes por defecto */
    font-size: 14px;
    /* Tamaño de fuente */
}

/* Estilo para el contenedor del carrito al pasar el mouse */
.contenedor_carrito_btn:hover {
    cursor: pointer;
    /* Cambia el cursor al pasar el mouse */
}

.carrito-nombre-curso {
    text-align: center;
    color: var(--azul);
    font-weight: bold;
    padding-bottom: 2%;
    padding-top: 2%;
}

/* BOTON */

.btn-borrar {
    padding: 8px 15px;
    padding-top: 5%;
    border: none;
    border-radius: 2em;
    background-color: red;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.btn-borrar-curso {
    padding: 8px 15px;
    border: none;
    border-radius: 2em;
    background-color: red;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    width: max-content;
    transition: background-color 0.3s;
}


.btn-borrar:hover , .btn-borrar-curso:hover {
    background-color: var(--amarillo);
    color: red;
}

/**/

